RewriteEngine Off
RewriteRule ^home$ index.php
RewriteRule ^photography$ photography.php
RewriteRule ^development$ development.php
RewriteRule ^videography$ videos.php

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]